name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Release

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: yarn install --frozen-lockfile && yarn build      

      - name: Make a temp holder
        run: mkdir temp_dist

      - name: Copy package.json files
        run: cp -r package.json temp_dist/

      - name: Copy readme.md files
        run: cp -r README.MD temp_dist/

      - name: Copy readme.md files
        run: cp -r dist temp_dist/

      - name: Publish new branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-release
          FOLDER: temp_dist
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout gh-release branch
        uses: actions/checkout@v4
        with:
          ref: 'gh-release'
      - name: Release
        uses: softprops/action-gh-release@v2
        with: 
          tag_name: v1.1.5
          release_name: Release v1.1.5
          draft: false
          prerelease: false
          target_commitish: gh-release


